<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <!-- fontawsome -->
    <script src="https://kit.fontawesome.com/307192de7c.js" crossorigin="anonymous"></script>
    <!-- fontawsome -->
    <!-- tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- tailwind css -->
    <!-- custom css -->
    <link rel="stylesheet" href="/static/css/styles.css" />
    <!-- custom css -->
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
